body {
  margin: 0;
  font-family: sans-serif;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
